<div id="top-page">
  <div class="container-fluid align-items-center">
    <div class="row px-0 mt-5" id="top-massage">
      <div class="col-12 text-center py-8">
        <div class="top contents">
          <h1 class="lh-sm fs-lg-6 fs-xxl-7 mt-5">
            Wlecome to バックエンド B
          </h1>
          <p class="mt-4">バックエンド課題Bのトップページです。 <br/>
          右上のログインページよりユーザー作成、ログイン願います。</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center mt-3 mb-3">
        <button type="button" class="btn btn-primary">Login</button>
      </div>
      <div class="col-12 text-center mt-3 mb-3">
        <button type="button" class="btn btn-warning">Sign Up</button>
      </div>
    </div>
  </div>
</div>

