<div class="container mt-5">
  <div class="row">
    <h3 class="mt-3 border-bottom">
      ユーザー名: <%= @user.name %>
    </h3>
    <h3 class="mt-3 border-bottom">
      メールアドレス: <%= @user.email%>
    </h3>
    <h3 class="mt-3 border-bottom">
      コメント数: <%= @user.posts.count%>
    </h3>
  </div>

</div>
